<%= render 'users/list', user: current_user, book: @newbook %>
<h1>Users</h1>
<div class="row">
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @users.each do |user| %>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= attachment_image_tag user, :user_image, :fill, 60, 60, fallback: "noimage.png" %>
            <% end %>
          </td>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>