<%= render 'users/list', user: current_user, book: @newbook %>
<h1>Book detail</h1>
<div class="row">
  <%= link_to user_path(@user.id) do %>
    <%= attachment_image_tag @user, :user_image, :fill, 60, 60, fallback: "noimage.png" %>
  <% end %>
  <%= link_to @user.name, user_path(@user.id) %>
  <%= link_to @book.title, book_path(@book.id) %>
  <%= @book.body %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(@book.id), method: :delete %>
</div>